body {
    background: #000000;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h4{
    color: #ffffff;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-weight: 500;
    font-size: 40px;
}

h3 {
    font-weight: 300;
    font-size: 24px;
}

h4 {
    font-weight: 300;
    font-size: 20px;
}

p {
    color: #ffffff;
    width: 45%;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.light-black {
    background-color: #1E1A13;
    color: #ffffff;
}

#seccion-caracteristicas{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

#header-img {
    width: 100%;
}

#verde {
    margin-bottom: 30px;
}
.verde-text {
    display: inline-block;
    margin-left: 9.4rem;
    width: 29.7rem;
}

.verde-img {
    width: 24.9rem;
    margin-left: 09.4rem;
    margin-top: 30px;
}

.verde-img, .verde-text {
    display: inline-block;
}

.bottom-img {
    width: 19.75rem;
    height: 12.625rem;
    margin: 0.3rem;
}

#bottom-imgs {
    align-items: center;
    margin-left: 10%;
}

#caracteristicas {
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.caracteristica {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}